<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>도일 자기소개 페이지</title>
</head>
<body>
<h1>자기소개 - 김도일</h1>
<hr>
<ol>
    <li><h4>나이 : 24</h4></li>
    <li><h4>학과 : 컴퓨터공학과</h4></li>
    <li><h4>좋아하는거</h4></li>
    <ul>
        <li>공부</li>
        <li>축구</li>
        <li>노는거</li>
        <br>
    </ul>
    <li><a href = "https://github.com/CLUG-WEB-BASIC/doil_practice.git"
   target = "_self"
   title = "클릭하면 이동합니다.">도일's repository</a></li>
</ol>


</body>
</html>